# Executables from examples
*/bin/*
*.exe

# Generated library files
*.so
*.so.1

# ignore docs folder
docs/html/
docs/sphinx/xml/
docs/_build

# ignore CMake stuff
build/
*CMakeUserPresets.json

# ignore local vscode folder
.vscode/

# ignore PlatformIO packages
*.tar.gz

# ignore python venv
.env/
.venv/

# Cmake build-in-source generated stuff
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CMakeFiles
DEBIAN
cmake_install.cmake
compile_commands.json
# Makefile is modified when `cmake .` is run
# Makefile # preserve old/traditional build system
