# Executables from examples
*/bin/*

# Generated library files
*.so
*.so.1

# ignore docs folder
docs/html/
docs/xml/

# ignore CMake stuff
build/
*CMakeUserPresets.json

# ignore local vscode folder
.vscode/