name: Pico SDK build

on:
  push:
    branches: [master, v1.x]
    paths:
      - ".github/workflows/build_rp2xxx.yml"
      - "*.h"
      - "*.cpp"
      - "CMakeLists.txt"
      - "cmake/"
      - "examples_pico/*"
  pull_request:
    branches: [master, v1.x]
    paths:
      - ".github/workflows/build_rp2xxx.yml"
      - "*.h"
      - "*.cpp"
      - "CMakeLists.txt"
      - "cmake/**"
      - "examples_pico/*"

jobs:

  build:
    uses: nRF24/.github/.github/workflows/build_pico_sdk.yaml@main
    with:
      board-id: ${{ matrix.board }}
      rf24mesh-ref: ${{ github.sha }}
    strategy:
      fail-fast: false
      matrix:
        board:
          - "pico"
          - "adafruit_feather_rp2040"
          - "adafruit_itsybitsy_rp2040"
          - "adafruit_qtpy_rp2040"
          - "pimoroni_tiny2040" # examples require PicoSDK v1.2.0
          - "sparkfun_micromod" # examples require PicoSDK v1.2.0
          - "sparkfun_promicro" # examples require PicoSDK v1.2.0
          - "sparkfun_thingplus" # examples require PicoSDK v1.2.0
          # - "vgaboard" # examples require PicoSDK v1.2.0 (this can be enabled on request)
          - "arduino_nano_rp2040_connect" # requires PicoSDK v1.2.0
          - "pimoroni_picolipo_4mb" # requires PicoSDK v1.2.0
          - "pimoroni_picolipo_16mb" # requires PicoSDK v1.2.0
          - "pimoroni_pga2040" # requires PicoSDK v1.2.0
          # - "pimoroni_keybow2040" # no SPI bus exposed
          # - "pimoroni_picosystem" # SPI is reserved for LCD
